
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>School Login</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-6">
                    <div class="card">
                            <article class="card-body">
                                <a href="/school/register" class="float-right btn btn-outline-primary">Sign up</a>
                                <h4 class="card-title mb-4 mt-1">Sign-Up</h4>
                                <p>
                                    <a href="" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                                    <a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
                                </p>
                                <hr>
                                <form action="/school/signup" method="POST">
                                    <div class="form-group">
                                        <input name="fname" class="form-control" placeholder="Name" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input name="address" class="form-control" placeholder="Address" type="text">
                                    </div>
                                <div class="form-group">
                                    <input name="email" class="form-control" placeholder="Email or login" type="email">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <input name="password" class="form-control" placeholder="password" type="password">
                                </div> <!-- form-group// -->   
                                <div class="form-group">
                                    <input name="phone" class="form-control" placeholder="phone" type="string">
                                </div>
                                <div class="form-group">
                                    <input name="confirmpassword" class="form-control" placeholder="Confirm password" type="password">
                                </div>                                   
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                                        </div> <!-- form-group// -->
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <a class="small" href="#">Forgot password?</a>
                                    </div>                                            
                                </div> <!-- .row// -->                                                                  
                            </form>
                            </article>
                            </div> <!-- card.// -->
            </div>
        </div>
    </div>
      
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>